.book {
  background: linear-gradient(lightblue, 75%, rgb(93, 204, 18));
  width: 100%;
  min-height: 92vh;
}

.bookContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  max-width: 100%;
}

.bookInfo {
  padding-top: 1rem;
  text-align: center;
}
.bookInfo>h2,p,h3 {
  padding-bottom: .5rem;
}

@media screen and (min-width:768px) {
  .bookContainer {
    padding: 3rem;
  }
}

@media screen and (min-width:900px) {
  .bookContainer {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 8rem;
  }
  .bookInfo {
    text-align: left;
    padding: 0 1rem;
  }
}